@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CRighteous');

body {
  background: url(https://images.unsplash.com/photo-1605723937077-66a33776015c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  margin: 0;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-family: 'Righteous', cursive;
  background: antiquewhite;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: green;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(255,228,181, 0.9);
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: green;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: white;
  background: orange;
  font-size: 1em;
  border-radius: 10%;
}